body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* HEADER- STARTS */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
  background-color: whitesmoke;

  display: flex;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 67px;
  text-decoration: none;
}
.cart{
  display: block;
  color: black;
  text-align: center;
  padding: 20px 67px;
 

}


li a:hover:not(.active) {
  background-color: #111;
  color: white;
}

.active {
  /* background-color: #04AA6D; */
  background-color: white;
  color: red;

  margin-left: 100px;
}

.logo {
  width: 7rem;
  height: 57px;
}

.login {
  background-color: cadetblue;
}

/* HEADER- END */

/*      HEROSECTION - STARTS  */

.container {
  display: flex;
  /* border: 1px solid red; */
  margin: 5rem;
}

.text {
  /* border: 1px solid green;
  width: 50%; */
  height: 25rem;
  margin-left: 6rem;
}

.img {
  /* border: 1px solid palevioletred; */
  width: 50%;
}

.people {
  width: 30rem;
}

.welcome {
  color: blue;
}

.btn {
  background-color: cadetblue;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn a {
  display: block;
  color: white;
  text-align: center;

  text-decoration: none;
}

.btn:hover {
  background-color: black;
  color: white;
}

/* HEROSECTION - ENDS HERE */

/* SERVICES - STARTS HERE */

.services-main {
  /* border: 1px solid red;
  margin-top: 50px; */
  display: flex;
  background-color: white;
  margin: 5rem;
}

.icon {
  width: 5rem;
}

.para {
  color: cadetblue;
}

.box-one {
  width: 20%;
  background-color: whitesmoke;
  height: 11rem;
  margin-top: 5rem;
  margin-left: 5rem;
  border-radius: 2rem;
}

.box-two {
  padding-top: 5rem;

  width: 20%;
  margin-left: 5rem;

  margin: auto;
}

.top {
  background-color: whitesmoke;
  border-radius: 2rem;
}

.bottom {
  margin-top: 2rem;
  background-color: whitesmoke;
  border-radius: 2rem;
}

.box-three {
  margin-top: 1rem;
  border-radius: 2rem;
  width: 20%;
  background-color: whitesmoke;

  margin: 5rem;
}

.TRUSTED {
  margin-top: 3rem;
  /* border: 1px solid palegreen; */
  background-color: whitesmoke;
  height: 15rem;
}

.TRUSTED h3 {
  color: grey;
  padding-top: 5rem;
  text-align: center;
}

.trusted-main {
  display: flex;
  margin: 5rem;
  margin-top: 0;

  height: 7rem;
}

.item-one {
  margin-left: 5rem;
  display: flex;
  width: 10%;
  height: 3rem;
  margin: auto;
}

.item {
  display: flex;
  width: 10%;
  height: 3rem;
  margin: auto;

  margin-left: 1rem;
  text-align: center;
}

/* SERVICES -END */

/* TRUSTED  - STARTS */

.horozintal-row {
  width: 3rem;
}

/* TRUSTED END  */

/* CONTACT START */
.contact-input {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  width: 20rem;
  padding-top: 3rem;
  margin: auto;
}

form input {
  height: 2rem;
}

.Btn {
  background-color: rgb(53, 53, 193);
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 3rem;
}

.get-start {
  background-color: rgb(53, 53, 193);
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* //Footer - STARTS // */

.footer {
  background-color: #07273e;
  margin-top: 20rem;
}

.box-top {
  position: absolute;
  width: 70%;
  background-color: whitesmoke;
  height: 7rem;
  display: flex;
  border-radius: 10px;
  left: 15rem;
  /* bottom: -60rem; */

  /* flex-direction: row; */
}

.text-left {
  margin: 3rem;
  margin-top: 1rem;
}

.btn-right {
  margin-left: 31rem;
  margin-top: 1rem;
}

.main-footer {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  color: white;
}

.iconN {
  border-radius: 50%;
  padding: 7px;
  margin: 2px;
  text-decoration: none;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.box-1 {
  margin: 3rem;
}

.box-2 {
  margin: 3rem;
}

.box-2 input {
  height: 2rem;
  width: 13rem;
  text-align: center;
}

.box-3 {
  margin: 3rem;
}

.box-4 {
  margin: 3rem;
}
/* FOOTER - ENDS */

/* ERROR PAGE - STARTS  */

.error-page{
  
  height: 5rem;
 
  margin: auto;
  margin-top: 6rem;
}

.error-page h2{
  color: #55acee;
}
.error-page a{
  text-decoration: none;
}
.error-home{
  background-color: rgb(53, 53, 193);
  /* Green */
  border: none;
 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  

}
.error-home a {
  color: white;
}
.intro-data{
  color: #125688;
}

.F-container{
 
  margin: 2rem;
}
.grid-three-column{
 
  display: flex;
    margin-left: 6rem;
}
.grid-three-column a{
  text-decoration: none;
  color: gray;
}
.api-image{
  width: 20rem;
}
.Allproducts{
  border: 2px solid gray;
   
    display: grid;
    grid-template-columns: auto auto  auto;
    gap: 10px;
    background-color: white;
    padding: 10px;
  
  

}
.Allproducts a {
  text-decoration: none;
  color: gray;
}


